*.o
*.a
*.so
.emacs*
*.lo
frontend/.libs/crfsuite
*.la
*.lai
*.lo
*.aux
*.log
linear_score.pdf
frontend/crfsuite
m4/
autom4te.cache/
lib/crf/.deps/
config.log
libtool
*/.deps
Makefile
*/Makefile
config.h
config.status
stamp-h1
genbinary.sh
lib/cqdb/.deps/
