*.a
*.aux
*.la
*.lai
*.lo
*.lo
*.log
*.model
*.o
*.output
*.so
*.trs
*/.deps
*/Makefile
*/Makefile.in
.emacs*
Makefile
Makefile.in
autom4te.cache/
config.h
config.log
config.status
configure
frontend/.libs/crfsuite
frontend/crfsuite
genbinary.sh
lib/cqdb/.deps/
lib/crf/.deps/
libtool
linear_score.pdf
m4/
stamp-h1
TAGS
*/TAGS
swig/python/crfsuite.cpp
swig/python/crfsuite.py
swig/python/export.i
swig/python/export_wrap.cpp
swig/python/export_wrap.h
